

.carousel-item{
  height: 600px;
  position: relative;
  overflow: hidden;
}
.buisness{
  
}

.carousel-item{
  background-image: url("../src/Image/44_8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-end{
  width: 25%!important;
}

.awssld__content {
  background-color: skyblue!important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-tools{
  background-image: url(../src/Image/newtools.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-tools-one{
    background-image: url(../src/Image/nowtoolstwo.jpg);
      background-position: top-right;
      background-size: cover;
      background-repeat: no-repeat;

}